<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="${project}" />
  <Target Name="Environment">
#foreach ($property in $properties)
    <Message Text="${envvar_marker}${property}=$(${property})" />
#end
  </Target>
</Project>